@import '../../../assets/styles/variables.scss';

.logo {
    padding: 10px 20px;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-family: 'Roundy Rainbows', sans-serif; /* Fallback to sans-serif */
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: $originButtonColor; /* fallback color */
    background-image: $linearGradientForButton;
    box-shadow:
        0px 2px 2px rgba(0, 0, 0, 0.1),
        inset 0px 1px 1px rgba(255, 255, 255, 0.6),
        inset 0px -3px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
    transition: all 0.4s;
}

