.app {
    &__coin_icon_animation {
        position: absolute;
        width: 265px;
        top: 13.5%;
        z-index: 1;
        left: 50%;
        transform: translate(-50%, 0);

        @media (min-width: 500px) {
            width: 770px;
            top: 12%;
        }
    }

    &__spin {
        width: 100%;
        padding: 20px 10px 10px 10px;
        position: relative;
        display: flex;
        justify-content: center;

        &_img {
            width: 100%;
            max-width: 1076px;
            max-height: 1044px;
        }

        &_button {
            position: absolute;
            bottom: -4%;
            left: 50%;
            transform: translateX(-50%);
            width: fit-content;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 185px;
            width: 468px;
            background-color: #0a0d24;
            gap: 20px;

            @media screen and (max-width: 500px) {
                width: 180px;
                height: 70px;
            }

            &__loader {
                height: 105px;

                @media screen and (max-width: 500px) {
                    height: 40px;
                }
            }

            .rotate {
                animation: spin 2s linear forwards;
            }
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

