.app {
    &__footer_connect {
        width: 100%;
        background-color: #0a0d24;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        position: fixed;
        bottom: 0;
        left: 0;

        &_container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            max-width: 1200px;
            gap: 20px;
        }

        &_score {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
        }
    }
}

