.app {
    &__heading {
        font-size: 120px;

        @media screen and (max-width: 500px) {
            font-size: 58px;
        }
    }

    &__title_and_logo {
        position: absolute;
        top: -14%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px 0px;

        @media (min-width: 500px) {
            top: -8%;
        }
    }

    &__title {
        transform: translateY(-15px);
    }

    &__spin {
        width: 100%;
        padding: 10px 10px 10px 10px;
        position: relative;
        display: flex;
        justify-content: center;

        &_img {
            width: 100%;
            max-width: 1076px;
            max-height: 1044px;
        }

        &_button {
            position: absolute;
            bottom: -3%;
            left: 50%;
            transform: translateX(-50%);
            width: fit-content;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 185px;
            width: 468px;
            background-color: #0a0d24;
            gap: 20px;

            @media screen and (max-width: 500px) {
                width: 180px;
                height: 60px;
            }

            &__loader {
                height: 105px;

                @media screen and (max-width: 500px) {
                    height: 40px;
                }
            }

            .rotate {
                animation: spin 2s linear forwards;
            }
        }
    }
}

