.buy {
    &__wrapper {
        width: 100vw;
        height: auto;

        @media screen and (max-width: 500px) {
            height: calc(100vh - 150px);
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding-top: 20px;
    }

    &__title_and_logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 20px 0px;
    }

    &__title {
        transform: translateY(-20px);
    }

    &__heading {
        font-size: 120px;

        @media screen and (max-width: 500px) {
            font-size: 60px;
        }
    }

    &__buy_rows {
        width: 100%;
        padding: 20px 20px;
        max-width: 1200px;
    }

    &__balance {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;

        &_icon {
            height: 20px;
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(168deg)
                brightness(109%) contrast(101%);
            padding-left: 20px;
        }

        &_value {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
        }
    }

    &__footer_connect {
        width: 100%;
        background-color: #0a0d24;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        position: fixed;
        bottom: 0;
        left: 0;

        &_container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            max-width: 1200px;
            gap: 20px;
        }

        &_score {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
        }

        &_tokens {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &_wallet {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
}

