@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Roundy Rainbows';
    src: url('../fonts/Roundy\ Rainbows.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roundy Rainbows';
    src: url('../fonts/Roundy\ Rainbows\ Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

