$bgColor: #252637;
$originButtonColor: #f4b948;
$linearGradientForButton: linear-gradient(to bottom, #f2632e, #e93324);
$whiteColor: white;
$blueColor: #0080bb;
$linearGradientForBuyRow: linear-gradient(to bottom, #36384e, #252637);

