@import '../../../assets/styles/variables.scss';

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-family: 'Roundy Rainbows', sans-serif; /* Fallback to sans-serif */
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: $originButtonColor; /* fallback color */
    background-image: $linearGradientForButton;
    box-shadow:
        0px 2px 2px rgba(0, 0, 0, 0.1),
        inset 0px 1px 1px rgba(255, 255, 255, 0.6),
        inset 0px -3px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
    transition: all 0.4s;

    &__icon_right {
        height: 50px;
        margin-right: 30px;
    }

    &__icon_left {
        height: 40px;
        margin-right: 30px;
        transform: translateX(10px);
    }

    &__text_conteiner {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__text {
            font-size: 38px;

            @media screen and (max-width: 600px) {
                font-size: 16px;
            }
        }

        &__subtext {
            font-size: 30px;
            font-weight: normal;
            color: white;

            @media screen and (max-width: 600px) {
                font-size: 18px;
            }
        }
    }

    &:hover {
        background-image: $linearGradientForButton;
        box-shadow:
            0px 3px 3px rgba(0, 0, 0, 0.1),
            inset 0px 1px 1px rgba(255, 255, 255, 0.6),
            inset 0px -4px 3px rgba(0, 0, 0, 0.25);
    }

    .shake {
        animation: shake 0.5s ease-in-out !important;
    }
}

@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    25% {
        transform: translate(-5px, 0) rotate(-5deg);
    }

    50% {
        transform: translate(5px, 0) rotate(5deg);
    }

    75% {
        transform: translate(-5px, 0) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0);
    }
}

